In [1]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('주택용_전력데이터.csv')

# 시도 코드와 시도명 매핑 딕셔너리
sido_mapping = {
    11: '서울',
    26: '부산',
    27: '대구',
    28: '인천',
    29: '광주',
    30: '대전',
    31: '울산',
    36: '세종',
    41: '경기',
    43: '충북',
    44: '충남',
    46: '전남',
    47: '경북',
    48: '경남',
    50: '제주',
    51: '강원도',
    52: '전북'
}

# 시도명을 새 컬럼으로 추가
df['시도명'] = df['시도'].map(sido_mapping)

# 결과 확인
df

     시도    연도  월    사용량(kWh)       전기요금(원)  평균단가(원/kWh) 시도명
0    11  2020  6  1135016306  124221044153        109.4  서울
1    11  2020  7  1217456430  130444022697        107.1  서울
2    11  2020  8  1411611643  155152238181        109.9  서울
3    11  2021  6  1127819486  118440986106        105.0  서울
4    11  2021  7  1391209916  161420259249        116.0  서울
..   ..   ... ..         ...           ...          ...  ..
250  52  2023  7   225727573   33492153041        148.4  전북
251  52  2023  8   296653089   45779794887        154.3  전북
252  52  2024  6   199404330   31493985152        157.9  전북
253  52  2024  7   230575911   34748235599        150.7  전북
254  52  2024  8   324683275   52599373330        162.0  전북

[255 rows x 7 columns]